@keyframes shining
  to
    opacity: 0.3

circle.agent
  r: 10
  fill: rgb(176,126,245)
  stroke-width: 2
  stroke-dasharray: 2
  animation-duration: 0.4s
  animation-delay: 0s
  animation-name: shining
  animation-direction: alternate
  animation-iteration-count: infinite

circle.term
  stroke: rgb(63,97,140)

rect.obstacle
  fill: rgb(209,135,93)
  opacity: 0.3

rect.boundary
  fill: none
  opacity: 0.5
  stroke: blue
  stroke-width: 1


